html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Coda', cursive;	
}

body {
	z-index: -1;
	background: #fffff0;
}

/*	In common:
	-webkit- it is an alternative for Safari.
	========================================= */

.container,
.card {
	justify-content: center;
	-webkit-justify-content: center;
}

.methods,
.container,
.control-game,
.deck,
.card,
footer,
.colors-page {
	display: flex;
	display: -webkit-flex;	
}

/*	A navbar with a panel to describe some methods used.
	==================================================== */

#navbar {
	width: 100%;
	height: 68px;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 20;
	text-align: center;
	font:300 20px 'Open Sans', sans-serif;	
	color: #fffff0;
	background-color: #696969;
	box-shadow: 0 4px 15px 7px rgba(0, 0, 0, 0.2);
	cursor: default;
}

#panel {
	width: 100%;
	text-align: left;
	font:300 18px 'Open Sans', sans-serif;
	color: #fffff0;
	background-color: #696969;
	display: none;
	top:0;
	left: 0;
	right: 0;
	margin-top: 68px;
	position: fixed;
	z-index: 10;
	box-shadow: 0 4px 15px 7px rgba(0, 0, 0, 0.2);
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

/*
	Style for the text. */

#panel p {
	margin: 18px 0 0 20px;
}

#panel ul {
	margin: 0;
}

#panel ul:last-of-type {
	margin-bottom: 14px;
}

#panel .note {
	font-size: 16px;
	margin-bottom: 18px;
}

/*
	Boxes for each type of actions: CSS3 and jQuery.
	================================================ */

.css-properties,
.jQuery-action {
	width: 50%;
	padding-right: 10px;
}

.jQuery-action {
	background-color: #fffff0;
	color: #696969;
}

/*
	Link for Bibliography references. */

a {
	outline: none;
	text-decoration: none;
	color:  #fffff0;
}

a:hover {
	text-decoration: none;
	color: #ff7f50;
}

/*	Style for Bibliography reference  */

#panel hr:first-of-type {
	margin-top: 0;

}

#panel hr:last-of-type {
	margin-bottom: 0;
	border: 1px solid #696969;
}

/*
	Style for the square dot. */

#panel span {
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #fffff0;
	margin: 0 5px;
}

/*

Container:	Title,
		Deck of cards and
		Footer with signature. 
*/

.container {
	width: 100%;
	margin: 68px auto 10px auto;
	align-items: center;
	-webkit-align-items: center;
	text-align: center;
	flex-direction: column;	
	background: #fffff0;
	z-index: -1;
}

/*	Style for title
	================ */

h1 {
	font:300 33px 'Open Sans', sans-serif;
}
		
/*	Styles for the deck of cards.
	============================= */

.deck {
	width: 525px;
	min-height: 515px;
	margin: 1.5em 0 3em 0;
	padding: 25px;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	background: #4b0082 linear-gradient(to bottom right, #4b0082, #e6e6fa );
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

/* 	Style for the cards.
	==================== */

.card {
	width: 100px;
	height: 100px;
	text-align: center;
	text-shadow: 1px 0.5px #4b0082;
	letter-spacing: 2px;
	align-items: center;
	-webkit-align-items: center;
	border-radius: 8px;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
	position: relative;
	cursor: default;
}

.card-back {
	color: #ff1493;
	background-color: #ff1493;
	transform: rotateY(0);
	-webkit-transform: rotateY(0);
}

.card-front {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg); 
}

.card-back, 
.card-front {
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: transform 2s;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d; 
	-webkit-transition: -webkit-transform 2s;
}	

/*	A class for using with .addClass() method.
	==============================================	*/

.rotate-card {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg); 
}

/*	Footer
	====== */

footer {
	justify-content: flex-end; 
	-webkit-justify-content: flex-end;
	color: #696969; 	
}

footer p {
	margin-right: 5px;	
}

/*	Colors used in the page.
	Backgroud-color for the page is Ivory #fffff0;
	============================================== */

.colors-page {
	padding: 18px 0;
}

.indigo,
.lavender,
.deep-pink,
.dim-gray {
	width: 26px;
	height: 26px;
	vertical-align: middle;
	box-shadow: 0px 2px 5px #c0c0c0;
	margin: 0 5px;
}

.indigo {
	background-color: #4b0082;
}

.lavender {
	background-color: #e6e6fa;
}

.deep-pink {
	background-color: #ff1493;
}

.dim-gray {
	background-color: #696969;
}

/*	@Description: For small devices, media queries.
	=============================================== */

@media screen and (max-width: 700px){
	
	/* For the slideToggle */
	
	#panel {
		position: relative;
	}

	.methods {
		display: block;
	}

	/*
	Boxes for each type of actions: CSS3 and jQuery.
	================================================ */

	.css-properties,
	.jQuery-action {
		width: 100%;
		padding: 9px 9px 9px 0;
	}

	.css-properties,
	.jQuery-action p:first-of-type {
		padding-top: 9px;
	}


	.deck {
		width: 360px;
		min-height: 350px;
		padding: 16px;
		margin-bottom: 27px;
	}

	.card {
		width: 70px;
		height: 70px;
	}

	#panel,
	.card,
	footer {
		font-size: 14px;
	}
	
	#panel p {
		margin: 9px 0 0 20px;
	}
	
	#panel ul:last-of-type {
		margin-bottom: 7px;
	}

	#panel .note {
		font-size: 12px;
		margin: 11px 0 13px 15px;
		padding: 5px;
	}

	h1 {
		font-size: 28px;
	}

	footer  {
		justify-content: space-between;
		-webkit-justify-content: space-between;
	}

	.colors-page {
		padding: 14px 0;
	}

	.indigo,
	.deep-pink,
	.lavender,
	.dim-gray {
		width: 20px;
		height: 20px;    
	}
}


